@import '../../../common/styles/variables';

.container {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid var(--borderGrey);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}