@import '../../../common/styles/variables';
@import '../../../common/styles/_breakpoints';

.container {
    width: 25rem;
    height: 22rem;
    background: linear-gradient(to right, var(--primaryBlue), var(--secondaryPurple));
    border-radius: 16px;
    padding: 20px;

    @include tablet {
        width: 50%;
        height: 30rem;
    }

    @include laptop {
        width: 50%;
        height: 30rem;
    }
}

.header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.title {
    color: var(--white);
    font-size: 24px;
    font-weight: 500;
}

.boxContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;

    @include tablet {
        flex-direction: column;
        gap: 20px;
    }

    @include laptop {
        flex-direction: column;
        gap: 20px;
    }
}

.searchContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;

    @include laptop {
        padding: 30px 40px
    }
}

.section {
    width: 12rem;
    height: 12rem;
    border-radius: 16px;
    background-color: var(--white);

    @include tablet {
        width: 15rem;
        height: 10rem;
    }

    @include laptop {
        width: 25rem;
        height: 9rem;
    }
}

.searchBox {
    width: 17rem;

    @include tablet {
        width: 13rem;
    }

    @include laptop {
        width: 25rem;
    }
}