@import '../../../common/styles/variables';

.container {
    width: 75%;
    background-color: var(--white);
    border-radius: 16px;
    padding: 15px;
}

.cardContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

.firstCard {
background-color: var(--primaryBlue);
border-radius: 16px;
width: 50%;
height: 150px;
}