@import "../../../common/styles/_variables.scss";

.container {
    display: flex;
    flex-direction: row;
    min-height: 5vh;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.logoText {
    font-size: 24px;
    font-weight: bold;
    color: var(--black);
}

a:visited,
a:active,
a:hover,
a:focus {
    text-decoration: none;
    color: inherit;
}

.navbarLink {
    text-decoration: none;
}

.trapezoid {
    border-bottom: 50px solid var(--white);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-bottom-color 0.3s ease,
        border-left-width 0.3s ease,
        border-right-width 0.3s ease,
        width 0.3s ease;
}

.buySellButton {
    width: 6rem;
    height: 42px;
    background-color: var(--primaryBlue);
    border-radius: 32px;
    border: none;
    color: var(--white);
    cursor: pointer;
}

.notificationIcon {
    background-color: var(--white);
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: var(--primaryRed);
    color: var(--white);
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
}

.myProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 2.5rem;
    width: 3rem;
    border-radius: 32px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}